.red {
	color: red;
}

.green {
	color: green;
}

.glyphicon.glyphicon-bullhorn {
	font-size: 40px;
}

.notification {
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	padding-top: 20px;
  	padding-bottom: 40px;
}
.category {
	margin-bottom: 20px;
}

h4 {
	font-color: red;
}

.purple {
	color: purple;
}

.api > h4 {
	text-align: center;
	color: purple;
	font-family: sans-serif;
}

.api {
	margin-left: 10px;
	margin-right: 10px;
}

.current_song {
	width: 100%;
	height: 700px;
	background-color: white;
	border-width: 1px;
	border-color: #e9e9e9;
	border-radius: 2%;
	border-style: solid;
	margin-right: 10px;
}

.track {
	text-align: right;
	margin-right: 50px;
}

.face_circle {
	margin-left: 20px;
	margin-top: 10px;
	width: 300%;
	height: 15%;
	border-radius: 100%;
	border-style: solid;
	border-color: gray;
	background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/067/029/044eb55.jpg);
	background-size: 74px 74px;
	background-position:50% 50%;
    background-repeat:no-repeat; 
}

.thumbs_table {
	width: 100%;
}

.button_table {
	width: 100%;
}

button {
	width: 100%;
	height: 50px;
}

.interactive_table {
	height: 100%;
	width: 100%;
}

.interactive_feed {
	height: 500px;
}

.feed {
	width: 100%;
	height: 700px;
	background-color: white;
	border-width: 1px;
	border-color: #e9e9e9;
	border-radius: 2%;
	border-style: solid;
}

.sidebar > h4 {
	text-align: center;
	color: purple;
	font-family: sans-serif;
}

.sidebar {
	width: 100%;
	height: 700px;
	background-color: white;
	border-width: 1px;
	border-color: #e9e9e9;
	border-style: solid;
	border-radius: 2%;
	margin-left: 10px;
}

.navbar {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	padding-top: 30px;
  	padding-bottom: 30px;
}

.heading {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;

}

.box {
	width: 100%;
	height: 100px;
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: #e9e9e9;
	border-bottom-width: 1px;
	box-shadow: 0px 1px 5px gray;
}

.container-fluid {
	background-color: #F7F7F7;
}


